.verde{
    background-color: rgb(173, 235, 179);
}
.tabla-contenedor{
    max-width: 600px;
    overflow-x: auto;
   
    border: 1px solid black;
}
.tabla-limite{
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
}
.tabla-limite th,
.tabla-limite td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.informacion{
    margin-left: 80px;
}
.aside a{
    text-decoration: none;
}